html {
	margin:3px;
	background-color: rgb(236, 236, 236);
}

.container{
	margin:5px;
	border:3px solid black;
	width:240px;
}

.item{
	display:inline-block;
	border: 3px solid blue;
	background-color: black;
	height:50px;
	width: 50px;
}

h1 {
	color:rgb(60, 152, 249);
}

/*
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.flip-container, .front, .back {
	width: 50px;
	height: 100px;
}

.front {
	z-index: 2;
	transform: rotateY(0deg);

	background-color: yellow;
}

.back {
	transform: rotateY(180deg);

	background-color: green;
}

.flip-container {
	perspective: 1000;
}


/*.flip-container:hover .flipper, .flip-container.hover .flipper, .flip-container.flip .flipper {
	transform: rotateY(180deg);
}
*/

/*
.flip-container.flip .flipper {
	transform: rotateY(180deg);
}
*/